### Basics of recomender system can be found here:
https://www.analyticsvidhya.com/blog/2015/10/recommendation-engines/

We will be using graphlab framework to build a recomendation system. More on graphlab can be found here:
https://www.analyticsvidhya.com/blog/2015/12/started-graphlab-python/
this is a licences product and free trail version is available for 1 year for acedemic purpose

Note:  graphlab is supported by python 2.7x . please switch to python2 kernel before using

In [3]:
import pandas as pd

# pass in column names for each CSV and read them using pandas. 
# Column names available in the readme file

#Reading users file:
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv('ml-100k/u.user', sep='|', names=u_cols,
 encoding='latin-1')

#Reading ratings file:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv('ml-100k/u.data', sep='\t', names=r_cols,
 encoding='latin-1')

#Reading items file:
i_cols = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
 'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
items = pd.read_csv('ml-100k/u.item', sep='|', names=i_cols,
 encoding='latin-1')

In [4]:
users.head()

   user_id  age sex  occupation zip_code
0        1   24   M  technician    85711
1        2   53   F       other    94043
2        3   23   M      writer    32067
3        4   24   M  technician    43537
4        5   33   F       other    15213

In [5]:
ratings.head()

   user_id  movie_id  rating  unix_timestamp
0      196       242       3       881250949
1      186       302       3       891717742
2       22       377       1       878887116
3      244        51       2       880606923
4      166       346       1       886397596

In [6]:
items.head()

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [7]:
print(users.shape)
print(ratings.shape)
print(items.shape)

(943, 5)
(100000, 4)
(1682, 24)

In [9]:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings_base = pd.read_csv('ml-100k/ua.base', sep='\t', names=r_cols, encoding='latin-1')
ratings_test = pd.read_csv('ml-100k/ua.test', sep='\t', names=r_cols, encoding='latin-1')
ratings_base.shape, ratings_test.shape

((90570, 4), (9430, 4))

In [27]:
ratings_test.head()

   user_id  movie_id  rating  unix_timestamp
0        1        20       4       887431883
1        1        33       4       878542699
2        1        61       4       878542420
3        1       117       3       874965739
4        1       155       2       878542201

In [11]:
import graphlab
train_data = graphlab.SFrame(ratings_base)
test_data = graphlab.SFrame(ratings_test)

#### simple popularity model

In [17]:
popularity_model = graphlab.popularity_recommender.create
                  (train_data, user_id='user_id', item_id='movie_id', target='rating')

Recsys training: model = popularity

Warning: Ignoring columns unix_timestamp;

    To use these columns in scoring predictions, use a model that allows the use of additional features.

Preparing data set.

    Data has 90570 observations with 943 users and 1680 items.

    Data prepared in: 0.174954s

90570 observations to process; with 1680 unique items.

In [18]:
#Get recommendations for first 5 users and print them
#users = range(1,6) specifies user ID of first 5 users
#k=5 specifies top 5 recommendations to be given
popularity_recomm = popularity_model.recommend(users=range(1,6),k=5)
popularity_recomm.print_rows(num_rows=25)

+---------+----------+-------+------+
| user_id | movie_id | score | rank |
+---------+----------+-------+------+
|    1    |   1467   |  5.0  |  1   |
|    1    |   1201   |  5.0  |  2   |
|    1    |   1189   |  5.0  |  3   |
|    1    |   1122   |  5.0  |  4   |
|    1    |   814    |  5.0  |  5   |
|    2    |   1467   |  5.0  |  1   |
|    2    |   1201   |  5.0  |  2   |
|    2    |   1189   |  5.0  |  3   |
|    2    |   1122   |  5.0  |  4   |
|    2    |   814    |  5.0  |  5   |
|    3    |   1467   |  5.0  |  1   |
|    3    |   1201   |  5.0  |  2   |
|    3    |   1189   |  5.0  |  3   |
|    3    |   1122   |  5.0  |  4   |
|    3    |   814    |  5.0  |  5   |
|    4    |   1467   |  5.0  |  1   |
|    4    |   1201   |  5.0  |  2   |
|    4    |   1189   |  5.0  |  3   |
|    4    |   1122   |  5.0  |  4   |
|    4    |   814    |  5.0  |  5   |
|    5    |   1467   |  5.0  |  1   |
|    5    |   1201   |  5.0  |  2   |
|    5    |   1189   |  5.0  |  3   |
|    5    |   1122   |  5.0  |  4   |
|    5    |   814    |  5.0  |  5   |
+---------+----------+-------+------+
[25 rows x 4 columns]

In [19]:
ratings_base.groupby(by='movie_id')['rating'].mean().sort_values(ascending=False).head(20)

movie_id
1500    5.000000
1293    5.000000
1122    5.000000
1189    5.000000
1656    5.000000
1201    5.000000
1599    5.000000
814     5.000000
1467    5.000000
1536    5.000000
1449    4.714286
1642    4.500000
1463    4.500000
1594    4.500000
1398    4.500000
114     4.491525
408     4.480769
169     4.476636
318     4.475836
483     4.459821
Name: rating, dtype: float64

#### A Collaborative Filtering Model

In [34]:
#Train Model
item_sim_model = graphlab.item_similarity_recommender.create(train_data, 
                 user_id='user_id', item_id='movie_id', target='rating', similarity_type='cosine')

#Make Recommendations:
item_sim_recomm = item_sim_model.recommend(users=range(1,6),k=5)
item_sim_recomm.print_rows(num_rows=50)

Recsys training: model = item_similarity

Warning: Ignoring columns unix_timestamp;

    To use these columns in scoring predictions, use a model that allows the use of additional features.

Preparing data set.

    Data has 90570 observations with 943 users and 1680 items.

    Data prepared in: 0.165869s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 10.443ms                       | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing data in one pass using dense lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

| 15.74ms                             | 0                | 0               |

| 196.168ms                           | 100              | 1680            |

+-------------------------------------+------------------+-----------------+

Finalizing lookup tables.

Generating candidate set for working with new users.

Finished training in 0.23628s

+---------+----------+----------------+------+
| user_id | movie_id |     score      | rank |
+---------+----------+----------------+------+
|    1    |   423    | 0.980611449435 |  1   |
|    1    |   202    | 0.938785915839 |  2   |
|    1    |   655    | 0.820146599571 |  3   |
|    1    |   403    | 0.765623665038 |  4   |
|    1    |   568    | 0.763641115818 |  5   |
|    2    |    50    | 1.12562584877  |  1   |
|    2    |   181    | 1.02724094574  |  2   |
|    2    |    7     | 0.999819083856 |  3   |
|    2    |   121    | 0.883422211959 |  4   |
|    2    |    9     | 0.851821605976 |  5   |
|    3    |   313    | 0.635376662016 |  1   |
|    3    |   328    | 0.603288030083 |  2   |
|    3    |   315    | 0.542258712378 |  3   |
|    3    |   331    | 0.535507185893 |  4   |
|    3    |   332    | 0.531669611281 |  5   |
|    4    |    50    | 1.13114770821  |  1   |
|    4    |   288    | 1.04871511459  |  2   |
|    4    |    56    | 0.996869802475 |  3   |
|    4    |   181    | 0.950599938631 |  4   |
|    4    |    7     | 0.941777880703 |  5   |
|    5    |   195    | 1.01835439205  |  1   |
|    5    |   202    | 0.935359946887 |  2   |
|    5    |    56    | 0.847939409632 |  3   |
|    5    |    82    | 0.799028443568 |  4   |
|    5    |    96    | 0.739466865135 |  5   |
+---------+----------+----------------+------+
[25 rows x 4 columns]

In [31]:
ratings_test.groupby(by='user_id').head(5)

      user_id  movie_id  rating  unix_timestamp
0           1        20       4       887431883
1           1        33       4       878542699
2           1        61       4       878542420
3           1       117       3       874965739
4           1       155       2       878542201
10          2        13       4       888551922
11          2        50       5       888552084
12          2       251       5       888552084
13          2       280       3       888551441
14          2       281       3       888980240
20          3       245       1       889237247
21          3       294       2       889237224
22          3       323       2       889237269
23          3       328       5       889237455
24          3       331       4       889237455
30          4        50       5       892003526
31          4       260       4       892004275
32          4       264       3       892004275
33          4       288       4       892001445
34          4       294       5       892004409
40          5         1       4       875635748
41          5         2       3       875636053
42          5        17       4       875636198
43          5        98       3       875720691
44          5       110       1       875636493
50          6        14       5       883599249
51          6        23       4       883601365
52          6        69       3       883601277
53          6        86       3       883603013
54          6        98       5       883600680
...       ...       ...     ...             ...
9370      938       122       1       891357190
9371      938       125       3       891356742
9372      938       240       2       891356847
9373      938       313       5       891349471
9374      938       333       4       891356146
9380      939       106       3       880262019
9381      939       121       5       880261373
9382      939       258       4       880260692
9383      939       409       4       880261532
9384      939       476       5       880261974
9390      940        14       3       885921710
9391      940        66       4       885922016
9392      940       193       3       885921893
9393      940       205       3       885921243
9394      940       272       4       884801316
9400      941         7       4       875048952
9401      941        15       4       875049144
9402      941       117       5       875048886
9403      941       124       5       875048996
9404      941       147       4       875049077
9410      942       117       4       891282816
9411      942       200       4       891282840
9412      942       261       4       891282673
9413      942       323       3       891282644
9414      942       423       5       891283095
9420      943        11       4       888639000
9421      943        58       4       888639118
9422      943       111       4       875502192
9423      943       186       5       888639478
9424      943       215       5       888639000

[4715 rows x 4 columns]

### Evaluating Recommendation Engines
* Recall:
What ratio of items that a user likes were actually recommended.
If a user likes say 5 items and the recommendation decided to show 3 of them, then the recall is 0.6
* Precision
Out of all the recommended items, how many the user actually liked?
If 5 items were recommended to the user out of which he liked say 4 of them, then precision is 0.8

In [26]:
## let's compare both the mmodels
model_performance = graphlab.compare(test_data, [popularity_model, item_sim_model])
graphlab.show_comparison(model_performance,[popularity_model, item_sim_model])

PROGRESS: Evaluate model M0

Precision and recall summary statistics by cutoff
+--------+-------------------+-------------------+
| cutoff |   mean_precision  |    mean_recall    |
+--------+-------------------+-------------------+
|   1    |        0.0        |        0.0        |
|   2    |        0.0        |        0.0        |
|   3    |        0.0        |        0.0        |
|   4    |        0.0        |        0.0        |
|   5    |        0.0        |        0.0        |
|   6    |        0.0        |        0.0        |
|   7    | 0.000151492198152 | 0.000106044538706 |
|   8    | 0.000132555673383 | 0.000106044538706 |
|   9    | 0.000117827265229 | 0.000106044538706 |
|   10   | 0.000212089077413 | 0.000212089077413 |
+--------+-------------------+-------------------+
[10 rows x 3 columns]

PROGRESS: Evaluate model M1

Precision and recall summary statistics by cutoff
+--------+----------------+-----------------+
| cutoff | mean_precision |   mean_recall   |
+--------+----------------+-----------------+
|   1    | 0.384941675504 | 0.0384941675504 |
|   2    | 0.327677624602 | 0.0655355249205 |
|   3    | 0.288441145281 | 0.0865323435843 |
|   4    | 0.265906680806 |  0.106362672322 |
|   5    | 0.248568398727 |  0.124284199364 |
|   6    | 0.229763167197 |  0.137857900318 |
|   7    | 0.214664444781 |  0.150265111347 |
|   8    | 0.202014846235 |  0.161611876988 |
|   9    | 0.19264757865  |  0.173382820785 |
|   10   | 0.183881230117 |  0.183881230117 |
+--------+----------------+-----------------+
[10 rows x 3 columns]

Model compare metric: precision_recall
Canvas is accessible via web browser at the URL: http://localhost:33661/index.html
Opening Canvas in default web browser.

In [37]:
item_sim_model.evaluate_precision_recall(test_data,cutoffs=[1, 2, 3, 4, 5,])

{'precision_recall_by_user': Columns:
 	user_id	int
 	cutoff	int
 	precision	float
 	recall	float
 	count	int

 Rows: 4715

 Data:
 +---------+--------+----------------+--------+-------+
 | user_id | cutoff |   precision    | recall | count |
 +---------+--------+----------------+--------+-------+
 |    1    |   1    |      0.0       |  0.0   |   10  |
 |    1    |   2    |      0.5       |  0.1   |   10  |
 |    1    |   3    | 0.333333333333 |  0.1   |   10  |
 |    1    |   4    |      0.25      |  0.1   |   10  |
 |    1    |   5    |      0.2       |  0.1   |   10  |
 |    2    |   1    |      1.0       |  0.1   |   10  |
 |    2    |   2    |      0.5       |  0.1   |   10  |
 |    2    |   3    | 0.333333333333 |  0.1   |   10  |
 |    2    |   4    |      0.25      |  0.1   |   10  |
 |    2    |   5    |      0.2       |  0.1   |   10  |
 +---------+--------+----------------+--------+-------+
 [4715 rows x 5 columns]
 Note: Only the head of the SFrame is printed.
 You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.,
 'precision_recall_overall': Columns:
 	cutoff	int
 	precision	float
 	recall	float

 Rows: 5

 Data:
 +--------+----------------+-----------------+
 | cutoff |   precision    |      recall     |
 +--------+----------------+-----------------+
 |   1    | 0.381760339343 | 0.0381760339343 |
 |   2    | 0.330858960764 | 0.0661717921527 |
 |   3    | 0.289148108872 | 0.0867444326617 |
 |   4    | 0.266702014846 |  0.106680805938 |
 |   5    | 0.245811240721 |  0.122905620361 |
 +--------+----------------+-----------------+
 [5 rows x 3 columns]}